
Week 1/Memorize.xcodeproj/xcuserdata/josegomez.xcuserdatad/xcschemes/xcschememanagement.plist
Week 1/Memorize.xcodeproj/project.xcworkspace/xcuserdata/josegomez.xcuserdatad/UserInterfaceState.xcuserstate
Week 1/Memorize.xcodeproj/project.xcworkspace/xcuserdata/eliseo.xcuserdatad/UserInterfaceState.xcuserstate
Week 1/Memorize.xcodeproj/project.xcworkspace/xcuserdata/eliseo.xcuserdatad/UserInterfaceState.xcuserstate
Week 1/Memorize.xcodeproj/project.xcworkspace/xcuserdata/eliseo.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
Week 1/Memorize.xcodeproj/project.xcworkspace/xcuserdata/eliseo.xcuserdatad/UserInterfaceState.xcuserstate
